:root {
  font-size: 16px;
  @media print {
    font-size: 14px;
  }
  --font-text: 'Cairo', sans-serif;
  --font-title: 'Raleway', sans-serif;

  --text-2: #666;
  --text-3: hsl(202, 11%, 46%);

  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-text);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
}

.section-title {
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-weight: 300;
  @media print {
    font-size: 1rem;
    font-weight: bold;
  }
  margin-bottom: 0.25rem;
  color: var(--text-3);
  position: relative;
  padding-left: 17px;
  &:before {
    content: '';
    position: absolute;
    left: 3px;
    height: 20px;
    width: 8px;
    background: rgb(0 0 0 / 8%);
    top: 50%;
    transform: translateY(-50%) skew(-10deg);
    border-left: 2px solid rgb(0 0 0 / 13%);
  }
}

.mt-75 {
  margin-top: 0.75rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}

.print-hide {
  @media print {
    display: none !important;
  }
}
